<app-nav></app-nav>
<br><br>
<div class="container">
    <div class="p-3  bg-light">
       
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.889872136409!2d29.258944715813712!3d40.89623057931226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadb5587ed480d%3A0x3546ae44293f3afe!2sVelibaba%20Sanayi%20Sitesi!5e0!3m2!1str!2str!4v1635590885939!5m2!1str!2str"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            <br><br>
            <h3>İletişim Bilgileri</h3>
            <hr class="hr"> 
            <div class="container px-4 py-5" id="icon-grid">            
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 ">
                  <div class="col d-flex align-items-start">
                    <i  class="fas fa-map-marked-alt"></i>
                    <div>
                      <h4 class="fw-bold mb-0">Konum</h4>
                      <p>Velibaba Sanayi Sitesi
                        Velibaba, Dolayoba Cd No:1, 34896 Pendik/İstanbul</p>
                    </div>
                  </div>

                  <div class="col d-flex align-items-start">
                    <i  class="fas fa-envelope-open-text"></i>
                    <div>
                      <h4 class="fw-bold mb-0">E-posta</h4>
                      <p>info@baserpanel.com</p>
                    </div>
                  </div>


                  <div class="col d-flex align-items-start">
                    <i    class="fas fa-phone-volume"></i>
                    <div>
                      <h4 class="fw-bold mb-0">Telefon</h4>
                      <p>+90 532 795 82 20</p>
                    </div>
                  </div>

                  <div class="col d-flex align-items-start">
                    <i class="fas fa-share-alt"></i>
                    <div>
                      <h4 class="fw-bold mb-0">Sosyal Medya</h4>
                      <i class="fab fa-facebook-square"></i>
                      <i class="fab fa-twitter-square"></i>
                    </div>
                  </div>

                  <div class="col d-flex align-items-start">
                    <i class="fas fa-user"></i>
                    <div>
                      <h4 class="fw-bold mb-0">Firma Sahibi</h4>
                      <p>Ertan Başer</p>
                    </div>
                  </div>

                  <div class="col d-flex align-items-start">
                    <i class="fas fa-clock"></i>
                    <div>
                      <h4 class="fw-bold mb-0">Çalışma Saatlerimiz</h4>
                      <p>Pazartesi-Cumartesi:08.00-18.00

                        Pazar:10.00-16.00 (Depo Bölümü)</p>
                    </div>
                  </div>
        
                </div>
              </div>
            <br><br>
            <h3>İletişim Formu</h3>
            <hr class="hr">
              <br>
            <div class="row g-3">
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Ad</label>
                    <input type="text" class="form-control" placeholder="Ad" aria-label="First name">
                </div>
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Soyad</label>
                    <input type="text" class="form-control" placeholder="Soyad" aria-label="Last name">
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">E-posta</label>
                    <input type="email" class="form-control" placeholder="E-posta" aria-label="First name">
                </div>
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label">Konu</label>
                    <select id="inputState" class="form-select">
                        <option selected>Sandviç panel talebi</option>
                        <option>Sandviç panel montaj talebi</option>
                        <option>Çatı söküm talebi</option>
                        <option>Farklı çatı montaj talepleri</option>
                        <option>Diğer..</option>
                      </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mesaj</label>
                <textarea class="form-control" placeholder="Mesajınızı buraya yazınız..." id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
    </div>
</div>
<br><br>

<app-footer></app-footer>